<!DOCTYPE html>
<html>
<body>
{% if changed %}
    <li>The chosen sequences have been verified</li>
    {% for change in changed %}
        <li>{{ change }}</li>
    {% endfor %}
{% endif %}
{% if correction_list %}
    <ul>
    {% for correction in correction_list %}
        <li>{{ correction.new_content }}</li>
    {% endfor %}
    </ul>
    <form action="" method="post">{% csrf_token %}
        {% for correction in correction_list %}
            <input type="checkbox" name="{{ correction.cid }}" value="{{ correction.cid }}">{{ correction.new_content }}<br>
        {% endfor %}
        <input onclick = "alertfunc()" type="submit" value="Verify!">
    <script>
        function alertfunc(){
            alert('Chosen Sequences have been verified.');
        }
    </script>
    </form>
{% else %}
    <p>No corrections available.</p>
{% endif %}
</body>
</html>