{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SubHPI: Correction</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'correctionstyle.css' %}" />
</head>
<body>
{% block content %}
{% if changed %}
    <li>The chosen sequences have been verified</li>
    {% for change in changed %}
        <li>{{ change }}</li>
    {% endfor %}
{% endif %}
{% if correction_list %}
    <form action="" method="post">{% csrf_token %}
     <h2 class="sub-header">Correction List</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width: 20%"><h2>Creator</h2></th>
                  <th style="width: 35%"><h2>Original-Sequence</h2></th>
                  <th style="width: 35%"><h2>Subtitle-Sequence</h2></th>
                  <th style="width: 10%"></th>
                </tr>
              </thead>
            <tbody>
        {% for correction in correction_list %}
            <tr>
            <section>
                <td>
                    {% for cr in screator %}
                            {% if correction.uids == cr.id.id %}
                                <p>{{ cr.id.username }}</p>
                            {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for i in initial_sequence %}
                            {% if correction.sid_id == i.sid %}
                                <p>{{ i.content }}</p>
                            {% endif %}
                    {% endfor %}
                </td>
                <td>
                     <p>{{ correction.new_content }}</p>
                </td>
                <td>
                    <div class="checkboxStyle">
                        <input type="checkbox" name="{{ correction.cid }}" id="{{ correction.cid }}" value="{{ correction.cid }}"/>
                        <label for="{{ correction.cid }}"></label>
                    </div>
                </td>
            </section>
            </tr>
        {% endfor %}
            <tr>
                <td style="border-left: 0; border-right: 0; border-top: 0; background-color: #eeeeee"></td>
                <td style="border-left: 0; border-right: 0; border-top: 0; background-color: #eeeeee;"></td>
                <td style="border-left: 0; border-right: 0; border-top: 0; background-color: #eeeeee;"></td>
                <td style="border-left: 0; border-right: 0; border-top: 0; background-color: #eeeeee; text-align: center;"><input style = "float: left" onclick = "verify()" type="submit" name="verify" value="Verify!"><input style = "float: right" name="reject" onclick = "reject()" type="submit" value="Reject!"></td>
            </tr>
            </tbody>
            </table>
          </div>
    <script>
        function verify(){
            alert('Chosen Sequences have been verified.');
        }
        function reject(){
            alert('Chosen Sequences have been rejected.');
        }
    </script>
    </form>
{% else %}
    <p>No corrections available.</p>
{% endif %}
{% endblock %}

{% block navbar_button %}
           <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
              <!--<button style="background-color: lightgrey; color: black;  margin-right: 10px" class="btn btn-default btn-primary" type="submit" formaction="/index" formmethod="">Back</button>-->
              <a style="color: white; font-size: 20px; padding-right: 10px;">{{ user.get_username }}</a>
            <button class="btn btn-warning btn-primary" type="submit" formaction="/logout" formmethod="">Logout</button>
          </form>
        </div><!--/.navbar-collapse -->
    {% endblock %}

</body>
</html>