{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SubHPI: Videos</title>
    </head>
    <body>
   {% block content %}
        <h2 style="padding-left: 200px" id="headline">Videos</h2>
        {% if latest_video_list %}
            <div style="padding-left: 200px" class="list-group">
            <ul>
                {% for video in latest_video_list %}
                    <a style="width: 400px" href="{{ video.vid }}/" class="list-group-item">{{ video.name }}</a>
                {% endfor %}
            </ul>
            </div>
        {% else %}
            <p>No videos are available.</p>
        {% endif %}
   {% endblock %}
       {% block navbar_button %}
           <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
             <!-- <a style="color: white; font-size: 20px; padding-right: 10px;">{{ user.name }}</a>-->
            <button class="btn btn-warning btn-primary" type="submit" formaction="../.." formmethod="">Logout</button>
          </form>
        </div><!--/.navbar-collapse -->
    {% endblock %}

    </body>
</html>