{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SubHPI: VideosAdmin</title>
    </head>
    <body>
    {% block content %}
        <h2 style="padding-left: 200px" id="headline">Videos</h2>
        {% if latest_video_list %}
            <div style="padding-left: 200px" class="list-group">
            <ul>
                {% for video in latest_video_list %}
                    <a style="width: 400px" href="{{ video.vid }}/" class="list-group-item">{{ video.name }}</a>
                {% endfor %}
            </ul>
            </div>
        {% else %}
            <p>No videos are available.</p>
        {% endif %}
   {% endblock %}

        <form id="form" action="/1/correction/" method="post">{% csrf_token %}
            <button id="correction">Go to correction table</button>
        </form>
        <form id="form" action="/1/statistics/" method="post">{% csrf_token %}
            <button id="statistics">Statistics</button>
        </form>
        <br>
        <p id="curru">Current User: {{ user.name }} (<a href="../..">Logout</a>)</p>
    </div>

    {% block navbar_button %}
           <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <button style="margin-right: 10px" class="btn btn-info btn-primary" type="submit" formaction="/1/correction" formmethod="">Correction Table</button>
            <button style="margin-right: 100px" class="btn btn-info btn-primary" type="submit" formaction="/1/statistics" formmethod="">Statistics</button>
             <!-- <a style="color: white; font-size: 20px; margin-right: 10px;">{{ user.name }}</a>-->
            <button class="btn btn-warning btn-primary" type="submit" formaction="/logout" formmethod="">Logout</button>
          </form>
        </div><!--/.navbar-collapse -->
    {% endblock %}
    </body>
</html>