<!DOCTYPE html>
<html lang="en-IE">
<head>
	{% load staticfiles %}
	<title>subhpi: Videos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://vjs.zencdn.net/5.3.0/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
    <style type="text/css">
        #subedit {position: absolute;
            height: auto; width: auto;
            left: 1000px; top: 100px;}
    </style>
  <!--  { % if idvideo %}
        <style type="text/css">
        #sub {position: absolute;
            height: 100px; width: auto;
            left: 350px; top: 250px;
            opacity: 0.5; color:#FFFFFF;
            background-color:#000000}
        #sub:hover {opacity:1.0}
        </style>
    { % endif %} -->
</head>
<body>
    <!-- <div id="sub">
    This could be any sub!
    </div> -->
	<h1 text-align="middle">{{ idvideo.name }}</h1>
    <video id="my-video" class="video-js" controls preload="auto" width="900" height="600" data-setup="{}">
        <source src="/static/video/{{ idvideo.name }}.mp4" type="video/mp4">
        <source src="/static/video/{{ idvideo.name }}.webm" type="video/webm">
        {% for sub_lang in sub_langs %}
            <track label="{{ sub_lang }}" kind="subtitles" srclang="{{ sub_lang }}" src="/static/subtitles/vtt/{{ idvideo.name }}_{{ sub_lang }}.vtt" default>
        {% endfor %}
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
    <script src="http://vjs.zencdn.net/5.3.0/video.js"></script>
    {% if edit %}
        <div id="subedit">
            <form action=".." method="post"> {% csrf_token %}
                {% for subs in subs_all %}
                    {% for sub in subs %}
                        <input type="text" name="sub{{ sub.sid }}" value="{{ sub.content }}">
                    {% endfor %}
                    <br>
                {% endfor %}
                <input type="submit" value="Save Changes">
            </form>
        </div>
    {% else %}
    <form action="../index">
            <input type="submit" value="Back">
    </form>
    <form action="edit/">
            <input type="submit" value="Edit Subtitles">
    </form>
    {% endif %}
<!--
	<div id="video-controls" class="controls" data-state="hidden">
		<button id="playpause" type="button" data-state="play">Play/Pause</button>
		<button id="stop" type="button" data-state="stop">Stop</button>
		<div class="progress">
			<progress id="progress" value="0" min="0">
				<span id="progress-bar"></span>
			</progress>
		</div>
		<button id="mute" type="button" data-state="mute">Mute/Unmute</button>
		<button id="volinc" type="button" data-state="volup">Vol+</button>
		<button id="voldec" type="button" data-state="voldown">Vol-</button>
		<button id="fs" type="button" data-state="go-fullscreen">Fullscreen</button>
		<button id="subtitles" type="button" data-state="subtitles">CC</button>
	</div> -->
</body>
</html>
