{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en-IE">
<head>
	<title>SubHPI: {{ idvideo.name }}</title>
</head>
<body>
{% block content %}
    {% for i in maxseq %}
        <button id="sub{{ i }}" onclick="rate{{ i }}()"></button>
    {% endfor %}
    <form id="subeditform" action="" method="post"> {% csrf_token %}
        <input id="in1" type="hidden" name="subedit" value="">
        <input id="in2" type="hidden" value=">">
        <input id="start" type="hidden" name="start" value="0">
    </form>
	<h1 margin="100px">{{ idvideo.name }}</h1>
    <video id="video" class="video-js" controls preload="auto" width="900" height="600" data-setup="{}">
        <source src="/static/video/{{ idvideo.name }}.mp4" type="video/mp4">
        <source src="/static/video/{{ idvideo.name }}.webm" type="video/webm">
        {% for sub_lang in sub_langs %}
            <track label="{{ sub_lang }}" kind="subtitles" srclang="{{ sub_lang }}" src="/static/subtitles/vtt/{{ idvideo.name }}_{{ sub_lang }}.vtt" default>
        {% endfor %}
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>

    <div id="controls">
        <button onclick="rate()">Rate</button>
        <button onclick="replay()">Replay</button>
        <button onclick="toNext()">Next</button>
        <button onclick="submit()">Submit Changes</button>
    </div>
    <form id="rate_form" action="" method="post"> {% csrf_token %}
    </form>
    <script>
        var player = videojs('video');
        var subs = [{% for i in maxseq %}document.getElementById('sub{{ i }}'),{% endfor %}0];
        var subedit = document.getElementById('subeditform');
        var out = document.getElementById('out');
        var in1 = document.getElementById('in1');
        var in2 = document.getElementById('in2');
        var nseq = {{ nseq }};
        var times = [{% for time in times %} [{{ time.start }}, {{ time.end }}], {% endfor %}0];
        var subs_all = [{%for subs_lang in subs_all%}[{%for subs in subs_lang%}[{%for sub in subs%}"{{ sub.content }}",{% endfor %}0],{% endfor %}0],{% endfor %}0]
        var ratings = [{% for time in times %}-1, {% endfor %}0]
        var i = 0;
        function rate() {
            player.currentTime(0);
            i = 0;
            document.getElementById('start').value=times[i][0];
            play();
        }
        function replay() {
            player.currentTime(times[i][0]/1000);
            play();
        }
        function toNext() {
            i = i + 1;
            out.innerHTML=ratings;
            document.getElementById('start').value=times[i][0];
            player.currentTime(times[i][0]/1000);
            play();
        }
        function play() {
            in1.type="text"
            in2.type="submit"
            for(k = 0; k < subs_all[0][i].length-1; k++) {
                subs[k].innerHTML = subs_all[0][i][k];
                subs[k].style.visibility = "visible";
            }
            for(k = subs_all[0][i].length-1; k < {{ maxseq }}; k++) {
                subs[k].style.visibility = "hidden";
            }
            player.on('timeupdate', function (e) {
                if (player.currentTime() >= times[i][1]/1000) {
                    player.pause();
                }
            });
            player.play();
        }
        function submit() {
            var form = document.getElementById("rate_form");
            for(var i=0; i<ratings.length-1;i++) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", "r"+i);
                hiddenField.setAttribute("value", ratings[i]);
                form.appendChild(hiddenField);
            }
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "lang");
            hiddenField.setAttribute("value", 0);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }
        {% for i in maxseq %}
        function rate{{ i }}() {
            ratings[i]= {{ i }};
            toNext();
        }
        {% endfor %}
    </script>
{% endblock %}
{% block navbar_button %}
           <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <button style="background-color: lightgrey; color: black;  margin-right: 10px" class="btn btn-default btn-primary" type="submit" formaction="/index" formmethod="">Back</button>
            <button class="btn btn-warning btn-primary" type="submit" formaction="/logout" formmethod="">Logout</button>
          </form>
        </div><!--/.navbar-collapse -->
{% endblock %}
</body>
</html>
