table {
    width: 40%;
    border: none;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}
th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
td{
    padding-left: 10px;
    text-align: left;
}
th{
    text-align: center;
    height: 50px;
}
table tr:first-child th {
  border-top: 0;
    border-bottom: 2px solid black;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

table tr:nth-child(even) {
    background-color: #e6e6e6;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th	{
    background-color: #0098cc;
    color: white;
}
