/*
#sub0 {position: absolute;
    z-index: -1;
    height: 20px; width: auto;
    left: 440px; top: 780px;
    opacity: 0.6; color:#100000;
    background-color:#BFCCB0;
    visibility: hidden}
#sub0:hover {opacity:1.0;
    background-color:#AAF090}
#sub1 {position: absolute;
    z-index: -1;
    height: 20px; width: auto;
    left: 440px; top: 810px;
    opacity: 0.6; color:#100000;
    background-color:#BFCCB0;
    visibility: hidden}
#sub1:hover {opacity:1.0;
    background-color:#AAF090}
#sub2 {position: absolute;
    z-index: -1;
    height: 20px; width: auto;
    left: 440px; top: 840px;
    opacity: 0.6; color:#100000;
    background-color:#BFCCB0;
    visibility: hidden}
#sub2:hover {opacity:1.0;
    background-color:#AAF090}
#sub3 {position: absolute;
    z-index: -1;
    height: 20px; width: auto;
    left: 440px; top: 870px;
    opacity: 0.6; color:#100000;
    background-color:#BFCCB0;
    visibility: hidden}
#sub3:hover {opacity:1.0;
    background-color:#AAF090}
#sub4 {position: absolute;
    z-index: -1;
    height: 20px; width: auto;
    left: 440px; top: 900px;
    opacity: 0.6; color:#100000;
    background-color:#BFCCB0;
    visibility: hidden}
#sub4:hover {opacity:1.0;
    background-color:#AAF090}
*/
#video {margin-left:60px;}
#subeditform {
    position: absolute;
    height: 20px; width: 200px;
    left: 640px; top: 780px;}
#controls {
    margin-top: 20px;
        }